[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
azure-storage-blob = "*"
azure-identity = "*"
azure-data-tables = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
