[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-storage-blob = "*"
azure-identity = "*"
"discord.py" = "2.1.0"
azure-data-tables = "*"

[dev-packages]

[requires]
python_version = "3.10"
